body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

%bordered {
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
}

/* || Info Boxes */
.info {
    @extend %bordered;

    * {
        margin: 0;
    }

    background: rgba(255, 255, 255, 0.8);
    color: #555;
}

.info#info-box {
    #variable-changer {
        background: rgba(0,0,0,0.2);
    }

    #county-info {
        padding: 0.5em;
    }

    select {
        background: none;
        border: none;
        cursor: pointer;
        font-weight: bold;

        option {
            font-weight: normal;
        }
    }
}

.info#legend {
    padding: 0.5em;

    .legend-swatches {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 4px;

        .legend-swatch {
            display: inline-block;
            width: 20px;
            height: 20px;
        }

        .legend-label {
            align-self: center;
        }
    }
}

.county-modal {
    * {
        margin: 0;
    }

    > *:not(:last-child) {
        margin-bottom: 16px;
    }

    @extend %bordered;
    $active-tab-fill: rgba(255, 255, 255, 0.8);

    background: rgba(242,242,242,0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 67vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    height: 67vh;
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;

    .modal-header {
        display: flex;
    }

    .modal-title {
        flex-grow: 1;
        text-align: center;
    }

    .modal-close {
        width: 0;
        position: relative;
        left: -12px;
        cursor: pointer;

        &::before {
            content: "\2573";
            font-size: 12px;
            font-weight: bold;
        }
    }

    .tabs-container {
        flex-grow: 1;
        display: flex;
        flex-flow: column;

        .tabs-button {
            background: none;
            border: none;
            padding: 0.5em 1em;
            font-size: 16px;
            cursor: pointer;
        }

        .tabs-button-active {
            background: $active-tab-fill;
        }

        .tabs-children {
            background: $active-tab-fill;
            display: flex;
            flex-grow: 1;
        }
    }

    .graph-container {
        flex-grow: 1;
    }

    .graph-info {
        max-width: 20vw;

        .graph-info-row > * {
            margin: 0.5em 0;
        }

        .graph-info-label {
            display: block;
            font-size: initial;
            text-transform: uppercase;

            * {
                font-weight: normal;
            }
        }

        .graph-info-data {
            font-size: 24px;
            font-weight: bold;
            color: #19351f;

            .graph-info-units {
                margin-left: 0.5em;
                font-size: initial;
            }
        }

        > div {
            border-top: 1px solid rgba(0, 0, 0, 0.5);
            margin: 1em;
        }

        table {
            text-align: left;
            width: 100%;
            // Distribute columns evenly
            table-layout: fixed;

            th {
                font-weight: normal;
                text-transform: uppercase;
            }
        }
    }
}

.county-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.25);
}